@model IEnumerable<EmplyeesPortal.Core.Post>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "All - Book Chapters";
}
@section scripts {
    @Scripts.Render("~/Scripts/datatables")
    <script src="~/Scripts/plugins/jquery.alphanum.js"></script>
}
<!-- Page header -->
@section header {
    <div style="background-color: #fff;" class="panel page-header border-top-primary">
        @*<div class="page-header-content">
            <a href="~/Views/EPost/Index.cshtml"></a>
            <div class="page-title">
                <h5>
                    <i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Manage Book Chapters</span>
                    <small class="display-block">add,list and search</small>
                </h5>
            </div>
            <div class="heading-elements">
                <div class="btn-group">
                    <a href="/Epost/index/" class="btn btn-primary"><i class="icon-add position-left"></i> List All Book Chapters</a>
                </div>
            </div>
            <a class="heading-elements-toggle"><i class="icon-menu"></i></a>
        </div>*@
        <div style="margin-bottom: 0; border-bottom: 0; box-shadow: none;" class="breadcrumb-line">
            <ul class="breadcrumb">
                <li><a href="/Home/"><i class="icon-home2 position-left"></i> Home</a></li>
                <li><a href="/Epost/index/">List All Book Chapters</a></li>
            </ul>
        </div>
    </div>
}

   
       
                        @foreach (var item in Model)
                        {
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="tabbable">
                                        <div class="tab-content"style="margin:15px;">
                                            <div class="row">
                                                <h3>
                                                    @item.title
                                                </h3>
                                            </div>
                                            <div class="row">
                                                @MvcHtmlString.Create(HttpUtility.HtmlDecode(item.Description))

                                            </div>
                                            <div class="row">
                                                <button class="btn btn-primary" value="Please Proceed with Registration of Post" id="understandbuton">Please Proceed with Registration of Post</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }


                           
<script type="text/javascript">
    jQuery(function () {
        jQuery(document).on("click", ".postclick", function () {
        var url = '/Epost/PostClickSave';
        var postid = $(this).attr("data-postid");
      
        $.ajax({
            url: url,
            data: {
                id: postid
               
            },
            type: 'POST',

        }).done(function () {
            location.href='/epost/details/'+postid;
           // return false;
        });
        return false;
    });
});
</script>